
@media (min-width: 550px) {

    .socialSections{
        display: grid;
        margin: auto;
    }
    .socialSections__comments{
        margin: 0;
    }
}

@media (min-width: 635px) {
    
    .sections{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
    }
    .sect{
        width: 40%;
        margin: 10px;
    }
    .starteSect{
        width: 91%;
        padding-left: 10px;
    }
    .socialSections{
        margin: auto;
        width: 70%;
    }
    .socialSections__comments{
        margin: 0;
        /* margin-left: 100px; */
    }
    
}

@media (min-width: 1000px) {

    .navBar{
        padding-left: 100px;
        display: flex;
        justify-content: space-around;
    }
    .navBar__icons{
        display: flex;
        width: 10%;
        align-items: center;
        height: 50px;
    }
    .form__search{
        right: 250px;
        top: 70px;
    }
    .button__white{
        display: none;
    }

    .lines--footerSmall{
        display: flex;
        margin: 0;
        margin-top: -280px;
        
    }
    .avisosLegales{
        width: 100%;
    }
    .avissosList--small{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .avisosLegales__list{
        margin: 0;
    }
    .avisosLegales__quest{
        margin: 0;
    }
    .socials{
        margin-top: 100px;
    }
    .sect{
        width: 100%;
    }
    .sect__title{
        font-size: 3rem;
        margin-top: -10px;
        margin-bottom: -5px;
    }
    .starteSect{
        width: 96%;
    }
    .expositions{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 450px 400px auto;
        margin: auto;
    }
    .exposition{
        background-image: url("../assets/images/gallery/davinciFace.jpg");
        height: 700px;
        width: 400px;
        border-radius: 100px 100px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-family: Bebas;
        padding: 20px;
        position: relative;
        margin: 10px;
    }
    .exposition__phrase{
        font-family: ModernSans;
        margin-top: -50px;
    }
    .exposition__description{
        font-family: ModernSans;
    }
    .exposition__title{
        font-size: 3rem;
    }
    .exposition__dates{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: ModernSans;
        color: white;

        transform: rotate(90deg);

        position: absolute;
        right: -35px;
        bottom: 250px;

        font-size: 1.5rem;
        font-weight: lighter;
    }
    .exposition__dateLine{
        background-color: white;
        width: 50px;
        height: 1px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .exposition--vanghog{
        background-image: url("../assets/images/gallery/vanGhog.jpg");
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .exposition--vendant{
        background-image: url("../assets/images/gallery/vendant.jpg");
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .exposition--caravaggio{
        background-image: url("../assets/images/gallery/caravaggio.jpg");
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .socialSections{
        display: flex;
        flex-direction: column;
    }
    .socialSections__comments{
        margin-left: 100px;
    }
    .carrousel__container{
        display: grid;
        width: 60%;
        margin: auto;
        margin-top: 100px;
    }
}

@media (min-width: 1200px) {

    .footer--small{
        all: reset;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .lines--footer{
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5%;
    }
    .avisosLegales{
        width: 40%;
    }
    .socials{
        width: 40%;
        margin-top: -50px;
    }
    .socialSections{
        padding: 20px;
        margin: 0;
        
        all: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .socialSections__comments{
        width: 65%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 500px;
        margin: 0;
        margin-top: 100px;
        
    }
    .socialSections__comment--big{
        display: flex;
    }
    .carrousel__container{
        display: grid;
        width: 40%;
        margin: 20px;
        margin-top: 100px;
        margin-right: 100px;

    }

    .form__search{
        right: 450px;
        top: 70px;
    }
    .navOpen{
        width: 25%;
    }
}