@font-face {
    font-family: Finish;
    src: url("../assets/fonts/fFinish.ttf");
}
@font-face {
    font-family: Bebas;
    src: url("../assets/fonts/Bebas-Regular.ttf");
}
@font-face {
    font-family: ModernSans;
    src: url("../assets/fonts/ModernSans-Light.otf");
}
*{
    /* display: inline-block; */
}

body{
    margin: 0;
    padding: 0;

    position: relative;
}

:root{
    --color-white-redish:rgb(230, 222, 222);
    --font-family-subText:'Bebas', Courier, monospace;
    --font-family-noCaps:'ModernSans', Courier, monospace;
}
.spacer{
    height: 100px;
}
.container{
    background-color: black;

    width: 100%;
    /* height: 2000px; */
    max-width: 2300px;
    min-width: 300px;

    margin: auto;

    /* padding-bottom: 100px; */
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 220px;
    align-items: center;

    color: white;
    position: fixed;
    border-bottom: 1px solid white;
    width: 100%;
    z-index: 50;
}
.navBar__title{
    font-size: 2rem;
    letter-spacing: 20px;
    
    z-index: 50;
}
.navBar__link{
    color: white;
}
.navBar__icons{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    width: 5%;
}
.navBar__icon{
    font-size: 1.3rem;
}
/* .navBar__blur{
    width: 110%;
    height: 115%;
    background-color: transparent;
    filter: blur(70px);
    position: absolute;
    
    left: -10px;
    z-index: 40;
    transition: background-color .2s;
} */
/* .navBar:hover .navBar__blur{
    background-color: rgba(0, 0, 0, 0.459);
} */
.introduction{
    background-image: url("../assets/images/backGrounds/personInArtGallery.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 800px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
    font-family: Bebas;

    font-size: 3rem;
    letter-spacing: 10px;
    font-weight: lighter;

}
.introduction__subtitle{
    font-size: 1rem;
    margin-top: -55px;
    margin-left: -298px;
    /* font-family: ModernSans; */
    /* font-weight: 900; */
}
/* This opens the burger button */
.burguerNav{
    position: absolute;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.61);
    height: 100vh;
    display: flex;
    align-items: start;

    z-index: 18;
}
.burguerNav__navBar{
    background-color: black;
    width: 30%;
    
    top: 0;
    left: 0;

    height: 100vh;

    z-index: 20;
    position: fixed;
    
}
.arrowLeft{
    font-size: 2rem;
    font-weight: 900;
    width: 30px;
    height: 30px;

    background-color: white;
    color: black;

    z-index: 25;
    top: 50%;
    right: 0;
    position: absolute;

    border-radius: 30px;
    text-align: center;
    padding: 5px;
}

/* Section of the lines */
.lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: auto;
    width: 100%;
    margin-top: 100px;
}
.lines__straightLine{
    background-color: rgba(214, 214, 214, 0.877);
    height: 80px;
    width: 2px;
}
.lines__cube{
    width: 4px;
    height: 4px;
    margin: 10px;

    background-color: rgba(214, 214, 214, 0.877);
}
/* End Section of the lines */

/* section of the gallery */
.galleryImage{
    margin: auto;

    display: grid;
    width: 50%;
    grid-template-columns: 5%;
    grid-template-rows: 400px 300px 300px;
    grid-template-areas: 
    "big big small1 small2"
    "big big medi medi"
    "stretched stretched stretched stretched"
    ;
    gap: 10px;
    margin-top: 100px;

    /* border: 1px solid rgba(255, 255, 255, 0.644); */
    padding: 10px;
    
    position: relative;
}
.galleryImage::before{
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.644);
    border-top: 1px;
    border-bottom: 1px;

    width: 970px;
    height: 1040px;

    position: absolute;
}
.galleryImage__imgCont{
    overflow: hidden;
}
.galleryImage__imgCont {
    position: relative;
    overflow: hidden;
}

.galleryImage__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(100%);
    
    transition: all 0.5s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    position: relative;
}
.galleryImage__link{
    text-decoration: none;
    
}
.galleryImage__imgTitle{
    color: rgba(240, 248, 255, 0);
    transition: all .5s;
    font-size: 2rem;
    font-weight: 900;
    font-family: Bebas;
}
.galleryImage__imgCont:hover .galleryImage__imgTitle {
    color: #6895a5;
}
.galleryImage__imgCont:hover .galleryImage__img {
    filter: brightness(70%);
}


.galleryImage__imgCont--bigCont{
    grid-area: big;
}
.galleryImage__imgCont--small1Cont{
    grid-area: small1;
}
.galleryImage__imgCont--small2Cont{
    grid-area: small2;
}
.galleryImage__imgCont--mediumCont{
    grid-area: medi;
}
.galleryImage__imgCont--stretchedCont{
    grid-area: stretched;
}


.galleryImage__img--big{
    background-image: url("../assets/images/gallery/napoleonOnHorse.jpg");
}
.galleryImage__img--small1{
    background-image: url("../assets/images/gallery/guernica.jpg");
}
.galleryImage__img--small2{
    background-image: url("../assets/images/gallery/elBeso.jpg");
}
.galleryImage__img--medium{
    background-image: url("../assets/images/gallery/angelsTouchinHands.jpg");
}
.galleryImage__img--stretched{
    background-image: url("../assets/images/gallery/jardinDeLasDelicias.jpg");
}
/* end section of the gallery */

/* Section with the sea background */
.seaBackgroundSection{
    width: 100%;
    height: 350px;
    margin-top: 150px;

    background-image: url("../assets/images/backGrounds/wavySea.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
}
.lines--waves{
    margin: 0;
    position: absolute;
    top: -91px;
}

.lines__cube--wave{
    width: 10px;
    height: 3px;
}
/* end the sea background */

/* Animation of burguers */
.openNavBarAnimation {
    animation-name: showNavAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.closeNavBarAnimation{
    animation-name: closeNavBarAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.openArrowLeftAnimation {
    animation-name: showArrowAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.openSectionAnimation{
    animation-name: openSectionAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.closeSection{
    animation-name: closeSectionAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/* END of opens the burger button*/


.navbar{
    height: 90px;
    background-color: aliceblue;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Footer part */
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/images/backGrounds/papel.jpg");

    padding: 60px;
    margin-top: 100px;
}
.footer__title{
    font-family: Bebas; 
    margin-left: 50px;
    font-size: 2rem;
}
.writeAnimation{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    overflow: hidden;
    margin-left: 50px;
    margin-top: -30px;
    font-size: 1.2rem;
    animation: writeAnimation 2s steps(11), blinkText .5s infinite step-end alternate;
}
.footerLinks{
    color: black;
}
.footerLinks:hover{
    color: rgba(0, 0, 0, 0.747)
}
.faviconIcon{
    font-size: 2rem;
    margin: 10px;
}
.avissosList{
    display: flex;
    flex-direction: row;
}
.footer__title--socials{
    margin-left: -30px      ;
}
.listTitle{
    font-size: 1.2rem;
    font-family: ModernSans;
    font-weight: 900;
    margin-left: 30px;
}
.avisosLegales{
    display: flex;
    flex-direction: column;
}
.avisosLegales__list{
    margin-left: 50px;
}
.avisosLegales__quest{
    
    margin-left: 50px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.lines--footer{
  margin: 0;  
  width: 20px;
  margin-left: -700px;
}
.lines--socials{
    margin: 0;
    margin-right: -530px;
}
.lines__straightLine--footer{
    height: 150px;
    background-color: black;
}
.lines__straightLine--footerShort{
    height: 80px;
}
/* end footer part */
.disNone{
    display: none;
}
.black{
    background-color: black;
}

/* Buttons */
.button__white {
    position: relative;

    width: 120px;
    height: 35px;

    background-color: transparent;

    border: 3px solid var(--color-white-redish);

    font-size: 1rem;
    font-weight: 900;
    font-family: var(--font-family-noCaps);
    color: var(--color-white-redish);

    z-index: 2;
    text-align: center;
    cursor: pointer;

    overflow: hidden;

    display: block;
    
}
.button__white::after {
    content: ""; 

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 120px;

    background-color: #ffffff54;

    transition: transform 0.8   s;
    transform: rotate(45deg) translateY(180%) translateX(-35%);

    z-index: 1;
}
.button__white:hover::after {
    transform: rotate(45deg) translateY(-200%) translateX(-35%);
}
.button__white::before {
    content: ""; 

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10px;
    width: 120px;

    background-color: #ffffff54;

    transition: transform 1s;
    transform: rotate(45deg) translateY(1600%) translateX(-25%);

    z-index: 1;
}
.button__white:hover::before {
    transform: rotate(45deg) translateY(-320%) translateX(-5%);
}


@keyframes writeAnimation {
    from{
        width: 0;
    }
}
@keyframes blinkText {
    50%{
        border-color: transparent;
    }
}
@keyframes showNavAnimation {
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}
@keyframes closeNavBarAnimation {
    from{
        left: 0;  
    }
    to{
        left: -300px;
    }
}

/* @keyframes closeSectionAnimation {
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
    }
}
@keyframes openSectionAnimation {
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
    }
} */

@keyframes showArrowAnimation {
    from{
        right: 0;
    }
    to{
        right: -30px;
    }
}

